<div class="mb-2 message">
  <div class="body-container">
    <div class="text-message">
      <%= message.body %>
    </div>
    <div class="text-date-show text-muted">
      <%= message.user.get_username %>
      <p class='text-date-show text-muted'> <%= message.timestamp %></p>
    </div>
  </div>
</div>