<% if message.user == current_user %>
<div class="mb-2 message-sent">
  <% else %>
<div class="mb-2 message-received">
<% end %>
  <div class="body-container">
    <div class="text-message">
      <%= message.body %>
    </div>
    <div class="text-date-show text-muted">
      <%= message.user.get_username %>
      <p class='text-date-show text-muted'> <%= message.timestamp %></p>
    </div>
  </div>
</div>