html, body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Index Garden Home Page */
.coltop  {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.img_presentation {
  height: 20vh;
}

.bottom-card-info {
  display: flex;
  justify-content: space-between;
}

.picture-garden-index {
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  margin-bottom: 15px;
  height: 250px;
  width: 100%;
}

/* map */
@media only screen and (min-width: 1100px) {
  .container-map {
    display: grid;
    grid-template-columns: 7fr 4fr;
  }

  .list-map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 0 30px;
  }

  #map {
    position: sticky!important;
    border-radius: 10px;
    margin-bottom: 24px;
    top: 0;
    right: 15px;
    left: 0;
    height: 100vh;
  }
}
